/* Moves the slider 20px away from the Navbar */
.slider{
    margin-top:20px;
}
/* keeps the h1 visable on mobile screen without needing to scroll */
.div1 h1{
    margin-top: 10px;
}

/* Moves Home page logo off the leftside of screen on Desktop screens  */
nav .brand-logo{
    margin-left: 10px;
}



#last-events{
    margin-bottom: 100px;
}

.player-card{
    border-radius: 15px 15px 15px 15px;
}

.player-name{
    font-size: 30px;
}

.player-position{
    font-size: 26px;
    padding: 10px;
    margin-top: 0;
}