/* Moves the slider 20px away from the Navbar */
h3 {
    color: #2F4F4F;
}

.slider{
    margin-top:20px;
}
/* keeps the h1 visable on mobile screen without needing to scroll */
.div1 h1{
    margin-top: 10px;
}

/* Moves Home page logo off the leftside of screen on Desktop screens  */
nav .brand-logo{
    margin-left: 10px;
}

.section-team-stadium{
    background-color: gainsboro;
}
.section-previous-events {
    /* background-image: url(/assets/images/green-pattern-surface-131683.jpg); */
    background-color: darkslategrey;
}

.section-upcoming-events{
    background-color: gainsboro;
}
.section-players{
    /* background-image: url(/assets/images/field-grass-green-65281.jpg); */
    background-color: darkslategrey;
}
#last-events{
    
    margin-bottom: 100px;
}

.player-card{
    border-radius: 15px 15px 15px 15px;
    height:550px;
}

.player-name{
    font-size: 40px;
    color: #424242;
}

.player-position{
    font-size: 26px;
    padding: 10px;
    margin-top: 0;
    color: #424242;
}

.team-table-title {
    font-size: 32px;
    color: lightgrey;
}

.team-events-table {
    font-size: 20px;
    color: lightgrey;
}

.team-table-title-next {
    font-size: 32px;
    color: darkslategrey;
}

.team-table-events-next {
    font-size: 20px;
    color: darkslategrey;
}

.btn-tickets {
    background-color: darkslategrey;
}
.fab {
    padding: 10px;
}
.team-date-for-table{
    color: orange;
}

.tickButton{
    margin-top: 15px;
}
